/* -----Bordes----- */

.rectangulo{
    border: 2px solid black;
    padding-left: 20px;
    margin-bottom: 5px;
}

.cuadrado{
    border: 2px solid black;
    padding-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.circulo{
    border: 2px solid black;
    padding-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.triangulo{
    border: 2px solid black;
    padding-left: 20px;
    margin-top: 5px;
}